doctype html
html 
    head 
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Custom Objects
        a(href="/update-cobj") Ajouter un nouvel objet
        .cards 
            each obj in data
                .card 
                    h2.card__name Nom : #{obj.properties.nom}
                    p.card__description PV : #{obj.properties.pv}
                    p.card__category Attaque : #{obj.properties.attaque}